<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Color-Palette</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div style="margin-top: 5%">
      <h3 style="text-align: center;">Your Image</h3>
      <p style="text-align: center;">Right click on it, and select "save image as" to download it. The downloaded image will be of Original Size</p>
        <p style="text-align: center;">Try <a href="{{url_for('index')}}">Again</a>?</p>
    </div>
    <div class="row">
      <div>
        <img src="{{src}}" height="{{height}}" width="{{width}}" style="margin-left: auto; margin-right: auto; display: block">
    </div>
  </div>

</body>
</html>
