*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
  color: #0c0c07;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 3.3rem;
  font-weight: 400;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.container {
  padding: 2rem 5rem;
}

.image-showcase {
  display: flex;
  padding: 2rem 0 4rem 0;

  justify-content: space-around;
}

.image-wrapper {
  width: 70%;
  margin: auto;
  position: relative;
}

.image-wrapper img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.download-image-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;

  color: #fff;
  background-color: #00cfc1;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  text-transform: capitalize;
  text-decoration: none !important;
  text-align: center;

  border: 0 none;
  border-radius: 12px;
  padding: 12px 12px;
  cursor: pointer;
  user-select: none;
}

.download-image-button:hover {
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.image-wrapper:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.image-wrapper:hover .download-image-button {
  opacity: 1;
}

/* utils */
.text-align-center {
  text-align: center;
}
