*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ea538c;
  --primary-color-light: #ffcde0;
}

body {
  background-color: rgb(245, 245, 245);
  color: #0c0c07;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 3.3rem;
  font-weight: 400;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.container {
  padding: 2rem 5rem;
}

.image-showcase {
  display: flex;
  padding: 2rem 0 4rem 0;

  justify-content: space-evenly;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.image-upload-wrapper {
  margin: 1.5rem 0 3rem 0;
  height: 11rem;
  position: relative;
  width: 100%;
}

.image-upload {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 4px dashed var(--primary-color);
  border-radius: 0.5rem;
  transition: background-color 0.25s ease-out;
}

.image-upload:hover {
  background-color: var(--primary-color-light);
}

.image-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  outline: none;
  cursor: pointer;
}

.image-upload-wrapper .undertext {
  font-size: 0.9rem;
  color: #991c19;
  float: right;
}

.number-input {
  width: 100%;
  display: flex;

  align-items: center;
  padding-bottom: 1rem;
}

.number-input label {
  display: inline-block;

  width: 50%;
  padding-right: 2rem;
  font-size: 1.3rem;
  text-align: right;
}

.number-input input[type="number"] {
  width: 30%;
  font-size: 2rem;
  font-weight: 400;
  padding-left: 0.6rem;
  border-radius: 2px;
  border: 2px solid rgb(192, 192, 192);
}

.submit-button {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);

  display: inline-block;
  height: 2.5rem;
  padding: 0 30px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
}

/* pictures.html */
.image-wrapper {
  width: 70%;
  margin: auto;
  position: relative;
}

.image-wrapper img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.download-image-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;

  color: #fff;
  background-color: var(--primary-color);

  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.1;
  text-transform: capitalize;
  text-decoration: none !important;
  text-align: center;

  border: 0 none;
  border-radius: 4px;
  padding: 12px 12px;
  cursor: pointer;
  user-select: none;
}

.download-image-button:hover {
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.image-wrapper:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.image-wrapper:hover .download-image-button {
  opacity: 1;
}

/* github fork ribbon : https://github.com/simonwhitaker/github-fork-ribbon-css */
.github-fork-ribbon::before {
  background-color: #333;
}

/* utils */
.text-align-center {
  text-align: center;
}

.margin-bottom-large {
  margin-bottom: 4rem;
}

.margin-bottom-normal {
  margin-bottom: 2rem;
}

.margin-top-large {
  margin-top: 4rem;
}
