<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Extract dominant colors from an image and present them as a palette." />
    <meta name="author" content="Mayank Nader" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="ColorPalette" />
    <meta property="og:title" content="ColorPalette" />
    <meta property="og:description" content="Extract dominant colors from an image and present them as a palette." />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="ColorPalette" />
    <meta name="twitter:description" content="Extract dominant colors from an image and present them as a palette." />
    <meta property="og:url" content="https://colorpalette.xyz" />

    <title>ColorPalette</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon/favicon.ico" />
    <link rel="manifest" href="/static/images/favicon/site.webmanifest" />

    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css"
    />

    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <a
      class="github-fork-ribbon"
      href="https://github.com/makkoncept/colorpalette"
      data-ribbon="Fork me on GitHub"
      title="Fork me on GitHub"
      >Fork me on GitHub</a
    >

    <div class="container">{% block content %}{% endblock %}</div>

    <script src="/static/js/script.js"></script>
  </body>
</html>
