{% extends "base.html" %} {% block content %}

<div class="text-align-center margin-bottom-large">
  <h2>Try <a href="{{url_for('index')}}">Again</a>?</h2>
</div>
<div class="image-wrapper">
  <img src="{{src}}" />
  <div class="overlay"></div>
  <a href="{{src}}" class="download-image-button" download="image-with-palette">Download Image</a>
</div>

<div>
  <h2 class="margin-top-large margin-bottom-normal text-align-center">Palette with hex codes</h2>
  <div class="image-wrapper">
    <img src="{{src2}}" />
    <div class="overlay"></div>
    <a href="{{src2}}" class="download-image-button" download="palette">Download Image</a>
  </div>
</div>

{% endblock %}
